body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #444444;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --border-color: #444444;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
}


button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding:1rem;
}

input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
